@model HappyMama.BusinessLogic.ViewModels.Event.AllEventsViewModel

@{
    ViewBag.Title = "Events";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">
    @foreach (var e in Model.Events)
    {
        <div class="card col-4" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Name</h5>
                <p class="mb-0"><span class="fw-bold">Deadline time: </span>@e.DeadLineTime</p>
                <p class="mb-0"><span class="fw-bold">Creator of Event: </span>@e.Creator</p>
            </div>
        </div>
    }

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item" >
                    <a class="page-link text-black" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
        </ul>
    </nav>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}